html {
}
body {
    height: 100vh;
    background-image: var(--gradient);
    background-size: 400%;
    animation-name: background-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
     /* 20s infinite alternate; */
  }
  @keyframes background-animation{
    0%{background-position: left;} 
    100%{background-position: right;}
  }
    

