
.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
    &__container{
        display: flex;
        gap: 10px;
    }
    
    &__item{
        width: 50px;
        height: 50px;
        border: 2px solid var(--body-color);
        color:var(--body-color);
        font-size: 2rem;
        text-align: center;
    }
}

.popup{
    position: fixed;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    padding: 1rem;
    color: #111;
    transform: translate(-50%, -100%);
    border-radius: 0.5rem;
    background-color: #ccc;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  .popup--show {
    transform: translate(-50%, 20px);
  }

.letter-correct{
    background-color: var(--letter-correct);
}
.letter-contains{
    background-color: var(--letter-contains);
}
.letter-not-included{
    background-color: var(--letter-not-included);
}

